@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Adinath Try 2..!</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">demo</a>.</p>
</div>
